body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(135deg, #4c4ff8, #852ef7);
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 2.5rem;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.main-content {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    padding: 20px;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 100%;
    display: block;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.tribute-text {
    flex: 2;
    padding: 20px;
}

.tribute-text h2 {
    font-size: 2rem;
    color: #FF4B2B;
}

.tribute-text p {
    font-size: 1.2rem;
    color: #333;
}

.tribute-text ul {
    list-style: disc;
    margin-left: 20px;
    font-size: 1.2rem;
    color: #333;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: linear-gradient(135deg, #4c4ff8, #852ef7);
    color: #fff;
}
